.tt-menu {
	width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion  {
  display: block;
  padding: 4px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.3em;
  color: #333333;
  text-align: center;
  /* white-space: nowrap; 
  background-color: red !important;
  */
}
.tt-suggestion:hover,
.tt-suggestion:focus,
.tt-suggestion.tt-cursor {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.twitter-typeahead {
	width:100%;
}


.tt-hint {
	color: #ccc;
	/* margin-top: 6px; */
}