.adminList {
	list-style-position:inside;	
	margin: 1px 0;
}

.admin hr{
	border-color:#AAAAAA -moz-use-text-color -moz-use-text-color;
	border-style:solid none none;
	border-width:1px 0 0;
}

.admin div{
	margin: 15px 10px;	
}

.admin table{

	border: 5px 5px 5px 5px;
}

.admin input {
	-x-system-font:none;
	border:1px solid #AAAAAA;
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-size:small;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	line-height:normal;
}

.admin select {
	-x-system-font:none;
	border:1px solid #AAAAAA;
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-size:small;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	line-height:normal;
}

.adminBtn:hover {
	background-color: #AAAAAA;
	border:1px solid #AAAAAA;
	color: #FFFFFF;
}

.adminNavi {
	font-weight: bold; 
	background: #eee; 
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin: 10px 10px 10px 10px;
	padding: 0px 10px 0px 10px;
}

.userInfoBox {
	border: 1px solid #006699;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}


.spamflag a {
	padding-right: 0.3em;
}

.userInfoTable {
	font-size: 80%;
	border-collapse: collapse;
	empty-cells: show;
	margin-top: 15px;
	width: 100%;
}

.userInfoTable th {
	font-weight: bold;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	padding: 2px;
	text-align: center;
	font-size: 100%;
}

.userInfoTable td {
	border: 1px solid #CCCCCC;
	padding: 2px;
}

.spammer {
	background-color: #ffeeee;
}

.nonspammer {
	background-color: #FFFFCC;
}

.uncertainUser {
	background-color: #F0FFF0;
}

.adminResponse {
	background-color: #ffeeee;
	font-color: #800000;
}