<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:editpub="urn:jsptagdir:/WEB-INF/tags/actions/edit/publication"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:bsform="urn:jsptagdir:/WEB-INF/tags/bs/form"
	xmlns:bs="urn:jsptagdir:/WEB-INF/tags/bs">

	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

	<fmt:message key="navi.bibtexhashexample" var="bibtexhashexamplePageTitle"/>

	<layout:paneLayout 
		pageTitle="${bibtexhashexamplePageTitle}" 
		headerMessageKey="bibtexhashexample.heading" 
		headerLogoClass="bookmarks" 
		command="${command}" 
		requPath="${requPath}" 
		activeTab="post">

		<jsp:attribute name="heading">
			<parts:search pathMessageKey="navi.bibtexhashexample"/>
		</jsp:attribute>

		<jsp:attribute name="content">
			<bs:alert style="info">
				<jsp:attribute name="alertBody">
					<fmt:message key="bibtexhashexample.description" />
				</jsp:attribute>
			</bs:alert>
			<form:form class="form-horizontal" role="form">
				<editpub:required post="${command.post}" hideBibTeXKey="${true}" hideAuthorClaim="${true}" />
				<c:set var="inputColSpan" value="9" />
				<bsform:input path="post.resource.journal" inputColSpan="${inputColSpan}"/>
				<bsform:input path="post.resource.booktitle" inputColSpan="${inputColSpan}"/>
				<bsform:input path="post.resource.volume" inputColSpan="${inputColSpan}"/>
				<bsform:input path="post.resource.number" inputColSpan="${inputColSpan}"/>
				<fmt:message var="save" key="submit" />
				<input class="btn btn-primary col-sm-offset-${12 - inputColSpan}" id="calc" type="submit" value="${save}" onclick="clearTagInput();" tabindex="2"/>
			</form:form>
			<!-- TODO: error validation in controller? -->
			<h3><fmt:message key="bibtexhashexample.result"/></h3>
			<dl class="dl-horizontal">
				<dt>Intra hash</dt>
				<dd>
					<p><code><spring:eval expression="T(org.bibsonomy.common.enums.HashID).INTRA_HASH.id" />${command.post.resource.intraHash}</code></p>
					<p>
						<a href="${relativeUrlGenerator.getPublicationUrlByIntraHash(command.post.resource.intraHash)}">${relativeUrlGenerator.getPublicationUrlByIntraHash(command.post.resource.intraHash)}</a>
					</p>
				</dd>
				<dt>Inter hash</dt>
				<dd>
					<p><code><spring:eval expression="T(org.bibsonomy.common.enums.HashID).INTER_HASH.id" />${command.post.resource.interHash}</code></p>
					<p>
						<a href="${relativeUrlGenerator.getPublicationUrlByInterHash(command.post.resource.interHash)}">${relativeUrlGenerator.getPublicationUrlByInterHash(command.post.resource.interHash)}</a>
					</p>
				</dd>
			</dl>
		</jsp:attribute>
	</layout:paneLayout>
</jsp:root>