<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:bs="urn:jsptagdir:/WEB-INF/tags/bs"
	xmlns:bsform="urn:jsptagdir:/WEB-INF/tags/bs/form"
	xmlns:errors="urn:jsptagdir:/WEB-INF/tags/errors"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld">
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />
	
	<fmt:message key="navi.passReminder" var="reminderPageTitle"/>
	
	<layout:singleContainerLayout command="${command}" pageTitle="${reminderPageTitle}" requPath="${requPath}" smallBox="${true}">
		
		<jsp:attribute name="content">
			<h1 class="content-header"><fmt:message key="login.lostPassword"/></h1>
			<c:choose>
				<c:when test="${command.success}">
					<bs:alert style="success">
						<jsp:attribute name="alertBody">
							<fmt:message key="reminder.success"/>
						</jsp:attribute>
					</bs:alert>
				</c:when>
				<c:otherwise>
					<p><fmt:message key="reminder.helptext"/></p>
					<form:form action="/reminder" method="POST" cssClass="form-horizontal">
						<errors:global />
						
						<bsform:fieldset legendKey="login.lostPassword_2">
							<jsp:attribute name="content">
								
								<bsform:input inputGroupSymbol="@" labelColSpan="3" inputColSpan="9" path="userName" tabindex="2" labelKey="navi.username" helpKey="passwordreminder.username.help" required="true"/>
								
								<!-- E-MAIL -->
								<bsform:input inputGroupFaIcon="fa-envelope" labelColSpan="3" inputColSpan="9" path="userEmail" labelKey="user.settings.email" helpKey="passwordreminder.email.help" required="true"/>
								
								<c:set var="openIdAcknowledgeError"><form:errors path="acknowledgeOpenIDDeletion"/></c:set>
								
								<c:if test="${not empty openIdAcknowledgeError}">
									<fmt:message key="passwordreminder.acknowledge" var="acknowledge" />
									<bsform:checkbox path="acknowledgeOpenIDDeletion" inputColSpan="9" labelText="${acknowledge}" noHelp="${false}"/>
								</c:if>
								
								<!-- CAPTCHA -->
								<bsform:captcha labelColSpan="3"/>
								
								<!-- CKEY -->
								<input type="hidden" name="ckey" value="${ckey}"/>
								
								<!-- SUBMIT -->
								<div class="form-group clearfix">
									<div class="col-sm-offset-3">
										<div class="col-sm-9">
											<fmt:message key="navi.passReminder.button" var="submit" />
											<bsform:button type="submit" value="${submit}" style="success" size="defaultSize" />
										</div>
									</div>
								</div>
								
								<hr />
								<br />
							</jsp:attribute>
						</bsform:fieldset>
					</form:form>
				</c:otherwise>
			</c:choose>
		</jsp:attribute>
		
	</layout:singleContainerLayout>
</jsp:root>
